* {
    font-family: sans-serif;
}
.btn {
    margin-bottom: 10px;
}

/* body {
    background-color: #E8EDF2;
} */

.jumbotron {
    background-color: #E8EDF2;
}

.our-story {
    background-color: #E8EDF2;
}

.filler {
    color: #E8EDF2;
}

.larger-text {
    font-size: 1.5rem;
}