* {
    font-family: sans-serif;
}
.btn {
    margin-bottom: 10px;
}

/* body {
    background-color: #E8EDF2;
} */

.jumbotron {
    background-color: #E8EDF2;
}

/* .our-story {
    background-color: #E8EDF2 !important;
    border-width: 2px;
} */

.filler {
    color: #E8EDF2;
}

.larger-text {
    font-size: 1.65rem;
}
