<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Visualizing Foreign Immigrant Admissions</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />

    <style>
      * {
        font-family: sans-serif;
      }
      p {
        text-align: justify;
      }
      .btn {
        margin-bottom: 10px;
      }
      .legend {
        margin-left: 15px;
      }
    </style>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Visualizing Foreign Immigrant Admissions</h1>
      <p style="text-align: center">Kostas Mateer and Sathtish Karthikeyan</p>
      <a href="../index.html" class="btn btn-default" role="button"
        >Go back to Main Page</a
      >
    </div>
    <div class="container" id="viz">
      <div class="row larger-text">
        <h2>Introduction</h2>
        <p>
          Our project aims to analyze the trends in nonimmigrant worker
          admissions to the United States over time. As an international
          student, Sathish has a personal interest in understanding the
          likelihood and trends of immigration to the US. On the other hand,
          Kostas' mother was an immigrant herself, giving him a unique
          perspective on the topic. Our project seeks to not only uncover the
          general trends but also investigate potential disparities within the
          US immigration system.
        </p>
        <h4>Questions</h4>
        <p>
          To gain deeper insights into the trends and disparities within the US
          immigration system, we will explore the following questions:
        </p>
        <ul>
          <li>
            Which continents did the most nonimmigrant temporary workers come
            from in 2021 (workers and families)? Is it a matter of absolute
            population numbers or are some continents favored?
          </li>
          <li>
            What are the disparities between the admitted nonimmigrants into the
            US? Are certain countries favored or is it a matter of absolute
            population numbers?
          </li>
          <li>
            What was the effect of COVID-19 on the disparities between the
            admitted nonimmigrants into the US?
          </li>
          <li>
            Where are these nonimmigrants entering the United States, and what
            factors contribute to their choice of destination?
          </li>
        </ul>
        <h4>Dataset</h4>
        <p>
          Our analysis is based on the 2021 U.S. Nonimmigrant Admissions Annual
          Flow Report, obtained from the US Department of Homeland Security. The
          dataset provides comprehensive information on nonimmigrant admissions
          to the United States, including detailed data gathered from Form I-94
          arrival records on the number and characteristics of nonimmigrant
          admissions in Fiscal Year 2021. The dataset is vast and contains
          multiple tables, including information on the number of admissions
          over time, immigration status, and country of origin. In addition to
          the U.S. Nonimmigrant Admissions Annual Flow Report from the US
          Department of Homeland Security, we also used data from the World Bank
          to provide additional context for our analysis. Specifically, we
          obtained data on GDP per capita and population from the World Bank to
          explore potential correlations between a country's economic situation
          and the number of nonimmigrant temporary workers admitted to the US.
          By incorporating this additional data, we hoped to gain a deeper
          understanding of the factors that influence US immigration trends.
        </p>
        <h2>Story of Visualizations</h2>
        <h3>Visualization 1</h3>
        <p>
          We began our data exploration with a focus on the continents with the
          highest admissions, while also examining the trends over time. Our
          objective was to understand how population, distance, and wealth of
          continents contributed to the number of admissions. The study was of
          particular interest to Sathish, a South Asian from India, as he wanted
          to compare Asia's performance with other continents, especially North
          America and Europe. Additionally, we were keen on analyzing the impact
          of COVID on immigration levels globally, given that it has exacerbated
          immigration challenges and contributed to a more closed world. We
          started with an overview of the total number of non-immigrant
          admissions, but our interest in the worker visa category drove us to
          our second visualization - the number of worker admissions in the
          fiscal year 2021. As upperclassmen seeking employment opportunities
          within the US, the worker visa category's analysis was a matter of
          concern to us.
        </p>
        <a href="/views/viz1.html" class="btn btn-primary" role="button"
          >Click to View Visualization 1!</a
        >
        <h3>Visualization 2</h3>
        <p>
          As we delved into our analysis of worker admissions in the fiscal year
          2021, we focused on comparing the worker admissions from different
          continents. We selected 2021 as our year of analysis since it was the
          first year in the post-COVID world, and we wanted to understand the
          impact of the pandemic on the job market. However, we acknowledged
          that the world had opened up significantly since then. Notably, we
          observed that North America had the highest number of worker
          admissions, likely due to the restrictions placed on countries during
          the pandemic. Surprisingly, Asia had more admissions than Europe,
          highlighting the difficulties that some continents faced in acquiring
          work visas and admission into the US, particularly during COVID. We
          were also interested in knowing where these workers entered the US to
          understand which regions served as entry points for nonimmigrant
          workers. Our analysis led us to our third visualization, a choropleth
          heat map of the states with the highest number of entries, which we
          hoped would shed more light on this topic.
        </p>
        <a href="/views/viz2.html" class="btn btn-primary" role="button"
          >Click to View Visualization 2!</a
        >
        <h3>Visualization 3</h3>
        <p>
          Our third visualization, the choropleth heat map of the states with
          the highest number of entries, was intriguing because it provided
          insights into the usual entry points for nonimmigrants into the US. We
          found it fascinating to be able to analyze these states in more detail
          and discovered that they generally had significant airports and ports,
          making it easier for nonimmigrants to enter. Moreover, these states
          were mostly high-growth areas with many businesses headquartered
          there. However, the visualization also raised new questions, such as
          the demographics of these nonimmigrants entering the US. To explore
          this further, we turned to our fourth visualization, which examines
          the gender breakdown and age demographics of nonimmigrants entering
          the US. This helped us gain a better understanding of the people
          coming into the country and the specific groups that are more likely
          to enter.
        </p>
        <a href="/views/viz3.html" class="btn btn-primary" role="button"
          >Click to View Visualization 3!</a
        >
        <h3>Visualization 4</h3>
        <p>
          Our fourth visualization, a population pyramid, allowed us to analyze
          the age and gender distribution of nonimmigrants entering the US. We
          were interested in exploring this to see if there were any disparities
          in age and gender among nonimmigrants. Our analysis revealed that the
          majority of nonimmigrants were either in the working age or above the
          retirement age, which is clearly depicted in the visual by the top and
          center of the pyramid being more full than the rest. Additionally, we
          noticed that men and women had different distributions, with men being
          more evenly distributed than women. This finding highlights actual
          disparities between men and women when it comes to being granted
          visas, which could be due to cultural differences between their
          respective countries. These disparities prompted us to question how
          countries and their role play into nonimmigrant numbers, leading us to
          create our fifth visualization, a bubble chart comparing GDP per
          capita and nonimmigrant admissions across countries and their
          populations. This helped us gain a better understanding of global
          disparities.
        </p>
        <a href="/views/viz4.html" class="btn btn-primary" role="button"
          >Click to View Visualization 4!</a
        >
        <h3>Visualization 5</h3>
        <p>
          Our fifth visualization was a bubble chart that explored the
          relationship between GDP per capita and nonimmigrant admissions. We
          wanted to investigate disparities between actual countries rather than
          just at the continent level, allowing us to gain a more detailed
          understanding of what is happening. This analysis was important to us
          because we aimed to gain a deeper understanding of the US immigration
          system. Our analysis revealed that Mexico had the greatest number of
          nonimmigrant admissions, with the majority being seasonal temporary
          workers. We were curious to learn where these workers were going as we
          prepare to join the workforce ourselves. We were interested in
          identifying which companies had the most nonimmigrant workers, as
          these companies may have different work cultures than those that do
          not hire as many nonimmigrant workers, and they are often global
          companies such as Google. This led us to our sixth visualization, a
          Sankey graph that shows the flow of nonimmigrant workers from
          continent to country to company.
        </p>
        <a href="/views/viz5.html" class="btn btn-primary" role="button"
          >Click to View Visualization 5!</a
        >
        <h3>Visualization 6</h3>
        <p>[ADD VISUALIZATION 6 STORY HERE]</p>
        <a href="/views/viz6.html" class="btn btn-primary" role="button"
          >Click to View Visualization 6!</a
        >
        <h2>Discussion</h2>
        <p>[ADD DISCUSSION HERE]</p>
        <h2>Limitations</h2>
        <p>
          While working with the data, we encountered some limitations that are
          important to note. First, all our visualizations were based on
          admissions and not individual nonimmigrants. This means that the data
          shows the frequency with which nonimmigrants were admitted, and
          certain numbers could be inflated, especially for North America. For
          instance, a single nonimmigrant could be responsible for 730
          admissions from Canada or Mexico if they lived in their home country
          and commuted to work every day. However, this does not necessarily
          mean that North America has that many more nonimmigrants than, say,
          Europe. Another limitation we encountered was that data from the World
          Bank was often unavailable for certain countries due to various
          reasons, such as political reasons. For example, we were unable to
          obtain GDP per capita data for North Korea or Taiwan, creating gaps in
          the data that made it impossible to plot on the bubble chart. We also
          only had data available from 2012-2021. Meaning we could not see
          larger trends from the past years. These limitations remind us of the
          importance of critically examining and understanding the data we work
          with, as it may not always provide a complete or accurate picture.
        </p>
        <h2>Conclusion</h2>
        <p>
          In conclusion, these visualizations provided us with valuable insights
          into nonimmigrants, nonimmigrant statuses, and disparities among
          people, shedding light on the US's nonimmigrant demographics. The
          project helped Sathish understand the multitude of variables
          surrounding nonimmigrant status, providing him with more informed
          decisions about his career path. Similarly, Kostas gained an
          understanding of the many different visas available for the US, many
          of which most Americans are not aware of. We also discovered
          disparities within immigration status, whether due to US institutions
          or other institutions abroad. Creating the bubble chart required
          extensive time coding, and we realized the importance of fully
          grasping what the data means. Adding a toggle to the graph was a
          useful addition as it allowed us to see how dramatically different
          Mexico's admission numbers were compared to the rest of the world. If
          we had more time, we would have explored finding more data for the
          absolute number of visas granted, rather than just admission numbers.
          Additionally, we would have investigated different visualizations,
          such as a radar graph, as a possibility. Further research on countries
          of origin, as well as the rules and regulations governing immigration,
          would also have been valuable. Overall, this project helped us gain a
          deeper understanding of nonimmigrants and immigration policies, which
          will be useful in our future endeavors.
        </p>
      </div>
    </div>
  </body>
</html>
