<!DOCTYPE html>
<html lang="en">
<head>
	<title>Visualizing Foreign Immigrant Admissions</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://d3js.org/d3.v5.min.js"></script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
	
</head>
    <body>
        <style>
        * {
            font-family: sans-serif;
        }
        p {
            text-align: justify;
        }
        .btn {
            margin-bottom: 10px;
        }
        .legend {
            margin-left: 15px;
        }

        </style>
        
        <div class="jumbotron text-center">
            <h1>Visualizing Foreign Immigrant Admissions</h1>
            <p style="text-align: center;">Kostas Mateer and Sathtish Karthikeyan</p> 
            <a href="../index.html" class="btn btn-default" role="button">Go back to Main Page</a>
        </div>
        <div class="container" id="viz">
            <div class="row">
                <h2>Introduction</h2>
                <p>
                    For our project, we want to examine the trends of immigrant workers coming into the US over time. 
                    The dataset is from the US Department of Homeland Security and it is the 2021 U.S. 
                    Nonimmigrant Admissions Annual Flow Report. It presents workload information on total 
                    nonimmigrant admissions and detailed data gathered from Form I-94 arrival records 
                    on the number and characteristics of nonimmigrant admissions to the United States in 
                    Fiscal Year 2021. The dataset has multiple tables and is vast including the number 
                    of admissions over time, immigration status and country of origin.
                </p>
                <ul>
                    <li>Which continents did the most nonimmigrant temporary workers come from in 2021 (workers and families)?</li>
                    <li>What are the disparities between the admitted nonimmigrants into the US?</li>
                    <li>What was the effect of COVID on the the disparities between the admitted nonimmigrants into the US?</li>
                </ul>
            </div>
        </div>
    </body>
</html>