<!DOCTYPE html>
<html lang="en">
<head>
	<title>Visualizing Foreign Immigrant Admissions</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://d3js.org/d3.v5.min.js"></script>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="jumbotron text-center">
    <h1>Visualizing Foreign Immigrant Admissions</h1>
    <p style="text-align: center;">Kostas Mateer and Sathish Karthikeyan</p> 
    <a href="../index.html" class="btn btn-default" role="button">Go back to Main Page</a>
    <a href="viz1.html" class="btn btn-default" role="button">Go to previous visualization</a>
      <a href="viz3.html" class="btn btn-default" role="button">Go to next visualization</a>
  </div>
  <div class="container">
    <div class="row">
      <div class="row">
        <button
          type="button"
          onclick="window.location.href='/views/story.html'"
          class="our-story btn btn-primary btn-lg btn-block"
        >
          Click Here to View Our Story!
        </button>
      </div>
      <p class="lead" style="font-size: 4rem;">Visualization 2</p>
      <h1 id="title"></h1>
      <div class="larger-text" id="aboutQuestion"></div>
      <div class="larger-text" id="chart"></div>
      <div class="larger-text" id="aboutChart"></div>
      <div class="larger-text" id="logChart"></div>
      <div class="larger-text" id="aboutLogChart"></div>
    </div>
    <div class="row">
			<a href="../index.html" class="btn btn-default btn-sm" role="button">Go back to Main Page</a>
      <a href="viz1.html" class="btn btn-default btn-sm" role="button">Go to previous visualization</a>
      <a href="viz3.html" class="btn btn-default btn-sm" role="button">Go to next visualization</a>
		</div>
  </div>

    <style>
      #chart{
        display: flex;
        justify-content: center;
      }
      #logChart{
        display: flex;
        justify-content: center;
      }
      .bar {
        stroke: black
      }
    </style>

    <script>
      // header code
      const title = d3.select("#title");
      title.text("Where Are Temporary Immigrant Workers Coming From?");

      // about question
      const aboutQuestion = d3.select("#aboutQuestion");
      aboutQuestion
        .append("p")
        .text(
          "In this dataset we are exploring the answer to the following question: \n"
        );
      aboutQuestion
        .append("p")
        .text(
          "Which continents did the most nonimmigrant temporary workers " +
            "come from in 2021 (workers and families)?"
        );
      aboutQuestion
        .append("p")
        .text(
          "The dataset is from the Department of Homeland Security. It has the total number of nonimmigrant temporary worker admissions by " +
            "region and country of citzenship from the fiscal year 2021." +
            " The regions are each of the continents: Africa, Asia, Europe, North America, Oceania, South America, and an Unknown region." +
            " The types of visas we are exploring are workers in specialty occupations (H1B), seasonal agricultural workers (H2A)," +
            " seasonal non-agricultural workers (H2B, H2R), workers with extraordinary ability/achievement (O1, O2)," +
            " athletes/artists/entertainers (P1 to P3), and intracompany transferees (L1)." +
            " For our chart we decided to only use the regions because charting each indiviual country would be too much" +
            " data, and it would not answer our question pertaining to the continents."
        );
      
      //setting up graph
      var margin = {top: 40, right: 20, bottom: 60, left: 80},
        width = 1000 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

      const tooltip = d3.select("body")
        .append("div")
        .attr("class","d3-tooltip")
        .style("position", "absolute")
        .style("z-index", "10")
        .style("visibility", "hidden")
        .style("padding", "15px")
        .style("background", "rgba(0,0,0,0.6)")
        .style("border-radius", "5px")
        .style("color", "#fff")
        .text("a simple tooltip");

      var svg = d3.select("#chart").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .attr("class", "bar-chart")
        .append("g") //group
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      data = d3.csv("/data/immigrationData.csv").then(data => {
        data.forEach(d =>{ //looking at each row
            //convert to correct data type
            d.Immigrants = +d.Immigrants; //convert to number
            d.Continents = d.Continents; 
        });

        
      //axes
      x = d3.scaleBand()
        .rangeRound([0, width])
        .padding(.1)
        .domain(data.map(d => d.Continents));

      y = d3.scaleLinear()
        .rangeRound([height, 0])
        .domain([0, d3.max(data, d => d.Immigrants)]);
    

      var colors = ["#ffffb2","#fed976","#feb24c","#fd8d3c","#fc4e2a","#e31a1c","#b10026"]

      const entries = svg.selectAll("g")
          .data(data)
          .enter()
          .append("g")
              .append("rect")
              .attr("class", "bar")
              .attr("x", d => x(d.Continents))
              .attr("width", x.bandwidth())
              .attr("y", d => y(d.Immigrants))//change this to log
              .attr("height",  d => (height - y(d.Immigrants)))
              .style("fill", (d, i) => {return colors[i]})
              .on("mouseover", function(d, i) {
                tooltip.html(`# of Immigrants: ${Number(d.Immigrants).toLocaleString()}`).style("visibility", "visible");
                svg.selectAll('rect')
                  .attr('opacity', 0.4);
                d3.select(this)
                  .attr('opacity', 1);
              })
              .on("mousemove", function(){
                tooltip
                  .style("top", (event.pageY-60)+"px")
                  .style("left",(event.pageX-100)+"px");
              })
              .on("mouseout", function() {
                svg.selectAll('rect')
                  .attr('opacity', 1);
                tooltip.html(``).style("visibility", "hidden");
                d3.select(this).attr("fill", bar_color);
            });

      //adding x-axis
      svg.append("g")
          .attr("transform", "translate(0," + height + ")")
          .style("font-size", 12)
          .call(d3.axisBottom(x));
      
      //adding y-axis
      svg.append("g")
          .call(d3.axisLeft(y))
          .style("font-size", 12);
          
      //x-axis label
      svg.append("text")
          .attr("transform", "translate(" + (width/2) + " ," + (height + margin.bottom-10) + ")")
          .style("text-anchor", "middle")
          .text("Continents");

      //y-axis label
      svg.append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 0 - margin.left)
          .attr("x",0 - (height / 2))
          .attr("dy", "1em")
          .style("text-anchor", "middle")
          .text("# of Immigrants");

      //Title
      svg.append("text")
          .attr("x", (width / 2))
          .attr("y", 0 - (margin.top / 2))
          .attr("text-anchor", "middle")
          .style("font-size", "20px")
          .style("text-decoration", "underline")
          .text("# of Immigrants coming to the US by Continent in 2021 (Linear scale)");


      // linear chart description
      const aboutChart = d3.select("#aboutChart");
      aboutChart
        .append("p")
        .text(
          "This chart helps answer our question because it is visually pleasing and easy to understand where" +
            " the majority of the worker immigrants to the US are coming. On the Y-axis we have a range of 0-1,367,188." +
            " This denotes the number of immigrants coming to the US. On the X-axis we have the labels of each continent." +
            " Since immigrants from North America are a great majority, it is hard to discern the differences between the other continents." +
            " Thus, we will try adding a logarithmic scale to the Y-axis below."
        );

      // log chart stuff
      var svg_2 = d3.select("#logChart").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .attr("class", "bar-chart")
        .append("g") //group
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
      
      // Updated y axis for logarithmic scale
      logY = d3.scaleLog()
        .rangeRound([height, 0])
        .domain([1, d3.max(data, d => d.Immigrants)]);
      
      const entries_2 = svg_2.selectAll("g")
        .data(data)
        .enter()
        .append("g")
            .append("rect")
            .attr("class", "bar")
            .attr("x", d => x(d.Continents))
            .attr("width", x.bandwidth())
            .attr("y", d => logY(d.Immigrants > 0 ? d.Immigrants : 1))
            .attr("height",  d => (height - logY(d.Immigrants)))
            .style("fill", (d, i) => {return colors[i]})
            .on("mouseover", function(d, i) {
                tooltip.html(`# of Immigrants: ${Number(d.Immigrants).toLocaleString()}`).style("visibility", "visible");
                svg_2.selectAll('rect')
                  .attr('opacity', 0.4);
                d3.select(this)
                  .attr('opacity', 1);
              })
              .on("mousemove", function(){
                tooltip
                  .style("top", (event.pageY-60)+"px")
                  .style("left",(event.pageX-100)+"px");
              })
              .on("mouseout", function() {
                svg_2.selectAll('rect')
                  .attr('opacity', 1);
                tooltip.html(``).style("visibility", "hidden");
                d3.select(this).attr("fill", bar_color);
            });
      
      //x-axis 
      svg_2.append("g")
          .attr("transform", "translate(0," + height + ")")
          .style("font-size", 12)
          .call(d3.axisBottom(x));

      svg_2.append("g")
          .style("font-size", 12)
          .call(d3.axisLeft(logY));

      svg_2.append("text")
          .attr("transform", "translate(" + (width/2) + " ," + (height + margin.bottom-10) + ")")
          .style("text-anchor", "middle")
          .text("Continents");

      svg_2.append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 0 - margin.left)
          .attr("x",0 - (height / 2))
          .attr("dy", "1em")
          .style("text-anchor", "middle")
          .text("# of Immigrants");

      svg_2.append("text")
          .attr("x", (width / 2))
          .attr("y", 0 - (margin.top / 2))
          .attr("text-anchor", "middle")
          .style("font-size", "20px")
          .style("text-decoration", "underline")
          .text("# of Immigrants coming to the US by Continent in 2021 (Logarithmic scale)");

      const aboutLogChart = d3.select("#aboutLogChart");
      aboutLogChart
        .append("p")
        .text(
          "With the logarithmic scale, it is easier to rank the continents from the most number of immigrants coming "+
          "to the US to the least. However, the differences between the bars are very misleading as the distance between any two points aren't uniform."+
          " From the two graphs above, it is obvious that the number of North American immigrants is significantly higher than any other continent." +
          " Upon further analysis of the dataset, about 1 million of these North American immigrants fall under the status of" +
          " Seasonal agricultural workers and Other visas. This is a major anomaly and the proximity of Canada and Mexico makes it easy " +
          "for immigrants to come in to the US."
        );
      });

    </script>
  </body>
</html>
