<!-- Credits for starter code: https://gist.github.com/wboykinm/dbbe50d1023f90d4e241712395c27fb3  -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Visualizing Foreign Immigrant Admissions</title>
    <meta charset="utf-8" />
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../style.css" />
    <style type="text/css">
      /* Legend Font Style */

      /* Legend Position Style */
      .legend {
        position: relative;
        justify-content: left;
        margin-top: -525px;
        margin-left: 120px;
        bottom: 600px;
      }

      .axis text {
        font: 10px sans-serif;
      }

      .axis line,
      .axis path {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }

      #chart {
        display: flex;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Visualizing Foreign Immigrant Admissions</h1>
      <p style="text-align: center">Kostas Mateer and Sathish Karthikeyan</p>
      <a href="../index.html" class="btn btn-default" role="button"
        >Go back to Main Page</a
      >
    </div>
    <div class="container">
      <div class="row" id="container-chart">
        <div class="row">
          <h1 id="title">
            Which US states are nonimmigrants entering the US from?
          </h1>
          <h4>About Dataset Used for Choropleth:</h4>
          <p class="larger-text">
            Dataset is from Department of Homeland Security. It has the amount
            of admissions by state of temporary workers and their famlies in the
            fiscal year 2021.
          </p>
          <h4>Our Question:</h4>
          <p class="larger-text">
            Coming from the previous visualizations and data, we found out where
            these nonimmigrants were coming from and the amount of admissions
            over time. This led us to ask the question: where are all these
            people entering into the US? We also hypothesized that the coastal
            regions would be the most common entry points, and we wanted to see
            if we are correct in that hypothesis. Another question of ours was
            what states recieve the most immigrants, and what are legislative
            policies in these states regarding immigrants?
          </p>
          <div id="chart"></div>
          <h4>Analysis of Chart:</h4>
          <p class="larger-text">
            Our intital hypothesis was correct because the coastal parts of the
            US have the most admissions: California, Florida, and all along the
            East Coast. The ones that stood out the most were Michigan,
            Washington, Arizona, and Texas. We wonder why Michigan and
            Washington have a higher amount of admissions. We believe it to be
            due to Canada because Vancouver is extremely close to Washington
            state. For Michigan, we believe it is because of Toronto. However,
            we wonder why Arizona and Texas have such a high level of
            admissions. We know it is most likely due to Mexico and South
            America, but why not New Mexico? This choropleth helps easily locate
            large entry points, and it is important to see these, so we can
            start asking more questions about these particular states. Do these
            states have more opportunities for nonimmigrants? Are these states
            more open to nonimmigrants? Do these states have increasing pressure
            because the amount of nonimmigrants flowing into the state? Or do
            these states just have major airports where the nonimmgrants
            intially enter the country, then go to their own state after intial
            entry?
          </p>
          <h4>Further Discussion:</h4>
          <p class="larger-text">
            This choropleth is a great tool to quickly find hotspots within the
            US when it comes to admissions. It is easy to see that California,
            Arizona, Michigan, Texas, Florida, New York, and Washington state
            have the highest level of admissions. We think there are obvious
            answers for most of them, but some of them are a little perplexing.
            It makes sense for California to have a large amount because of its
            proximity to Asia, and to Mexico. Same with Arizona and Texas for
            Mexico and South America, but why not New Mexico? One idea that we
            have is that New Mexico's population (2.1 million) is significantly
            lower than Arizona (7.3 million) and further more, Texas (29.5
            million).
          </p>
        </div>
        <div class="row">
          <a href="../index.html" class="btn btn-default btn-sm" role="button"
            >Go back to Main Page</a
          >
        </div>
      </div>
    </div>
    <script type="text/javascript">
      //Width and height of map

      var margin = { top: 40, right: 20, bottom: 60, left: 80 };
      (width = 1000 - margin.left - margin.right),
        (height = 500 - margin.top - margin.bottom);

      var lowColor = "#ffffb2";
      var highColor = "#b10026";

      // D3 Projection
      var projection = d3
        .geoAlbersUsa()
        .translate([width / 2, height / 2]) // translate to center of screen
        .scale([1000]); // scale things down so see entire US

      // Define path generator
      var path = d3
        .geoPath() // path generator that will convert GeoJSON to SVG paths
        .projection(projection); // tell path generator to use albersUsa projection

      var margin = { top: 100, right: 50, bottom: 60, left: 80 },
        width = 1000 - margin.left - margin.right,
        height = 600 - margin.top - margin.bottom;

      const tooltip = d3
        .select("body")
        .append("div")
        .attr("class", "d3-tooltip")
        .style("position", "absolute")
        .style("z-index", "10")
        .style("visibility", "hidden")
        .style("padding", "15px")
        .style("background", "rgba(0,0,0,0.6)")
        .style("border-radius", "5px")
        .style("color", "#fff")
        .text("a simple tooltip");
      //Create SVG element and append map to the SVG
      var svg = d3
        .select("#chart")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      // Load in my states data!
      d3.csv("../data/statesdata.csv", function (data) {
        var dataArray = [];
        for (var d = 0; d < data.length; d++) {
          dataArray.push(parseFloat(data[d].value));
        }
        var minVal = d3.min(dataArray);
        var maxVal = d3.max(dataArray);
        var ramp = d3
          .scaleLinear()
          .domain([minVal, maxVal])
          .range([lowColor, highColor]);

        // Load GeoJSON data and merge with states data
        d3.json("../json/us-states.json", function (json) {
          // Loop through each state data value in the .csv file
          for (var i = 0; i < data.length; i++) {
            // Grab State Name
            var dataState = data[i].state;

            // Grab data value
            var dataValue = data[i].value;

            // Find the corresponding state inside the GeoJSON
            for (var j = 0; j < json.features.length; j++) {
              var jsonState = json.features[j].properties.name;

              if (dataState == jsonState) {
                // Copy the data value into the JSON
                json.features[j].properties.value = dataValue;

                // Stop looking through the JSON
                break;
              }
            }
          }

          // Bind the data to the SVG and create one path per GeoJSON feature
          svg
            .selectAll("path")
            .data(json.features)
            .enter()
            .append("path")
            .attr("d", path)
            .style("stroke", "#fff")
            .style("stroke-width", "1")
            .style("fill", function (d) {
              return ramp(d.properties.value);
            })
            .on("mouseover", function (d, i) {
              tooltip
                .html(`${d.properties.name}: ${d.properties.value}`)
                .style("visibility", "visible");
              svg.selectAll("path").attr("opacity", 0.4);
              d3.select(this).attr("opacity", 1);
            })
            .on("mousemove", function () {
              tooltip
                .style("top", event.pageY - 60 + "px")
                .style("left", event.pageX - 100 + "px");
            })
            .on("mouseout", function () {
              svg.selectAll("path").attr("opacity", 1);
              tooltip.html(``).style("visibility", "hidden");
            });

          // add a legend
          var w = 140,
            h = 300;

          var key = d3
            .select("#container-chart")
            .append("svg")
            .attr("width", w)
            .attr("height", h)
            .attr("class", "legend");

          var legend = key
            .append("defs")
            .append("svg:linearGradient")
            .attr("id", "gradient")
            .attr("x1", "100%")
            .attr("y1", "0%")
            .attr("x2", "100%")
            .attr("y2", "100%")
            .attr("spreadMethod", "pad");

          legend
            .append("stop")
            .attr("offset", "0%")
            .attr("stop-color", highColor)
            .attr("stop-opacity", 1);

          legend
            .append("stop")
            .attr("offset", "100%")
            .attr("stop-color", lowColor)
            .attr("stop-opacity", 1);

          key
            .append("rect")
            .attr("width", w - 100)
            .attr("height", h)
            .style("fill", "url(#gradient)")
            .attr("transform", "translate(0,10)");

          var y = d3.scaleLinear().range([h, 0]).domain([minVal, maxVal]);

          var yAxis = d3.axisRight(y);

          key
            .append("g")
            .attr("class", "y axis")
            .attr("transform", "translate(41,10)")
            .call(yAxis);
        });
      });

      svg
        .append("text")
        .attr("x", width / 2)
        .attr("y", 0 - margin.top / 2)
        .attr("text-anchor", "middle")
        .style("font-size", "20px")
        .style("text-decoration", "underline")
        .text("# of Nonimmigrant Worker Admissions to the US by State in 2021");
    </script>
  </body>
</html>
