<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visualizing Foreign Immigrant Admissions</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <style>
      .tooltip {
        position: absolute;
        text-align: center;
        width: auto;
        height: auto;
        padding: 2px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
      }

      .custom-cursor {
        position: absolute;
        z-index: 1000;
        pointer-events: none;
        white-space: nowrap;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 0px;
        border-radius: 8px;
        padding: 2px;
      }

      /* Slider container */
      .slider-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      /* Slider */
      input[type="range"] {
        -webkit-appearance: none;
        width: 80%;
        height: 10px;
        border-radius: 5px;
        background-color: #d3d3d3;
        outline: none;
      }

      /* Slider thumb */
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: black;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Visualizing Foreign Immigrant Admissions</h1>
      <p style="text-align: center">Kostas Mateer and Sathish Karthikeyan</p>
      <a href="../index.html" class="btn btn-default" role="button"
        >Go back to Main Page</a
      >
      <a href="viz4.html" class="btn btn-default" role="button"
        >Go to previous visualization</a
      >
      <a href="viz6.html" class="btn btn-default" role="button"
        >Go to next visualization</a
      >
    </div>
    <div class="container">
      <div class="row">
        <button
          type="button"
          onclick="window.location.href='/views/story.html'"
          class="our-story btn btn-primary btn-lg btn-block"
        >
          Click Here to View Our Story!
        </button>
      </div>
      <div class="row">
        <p class="lead" style="font-size: 4rem">Visualization 5</p>
        <h1 id="title">
          Which Countries have the Highest Admission Rates into the US?
        </h1>
        <h4>About Dataset Used for Bubble Chart:</h4>
        <p class="larger-text">
          Dataset is from Department of Homeland Security. It has the amount of
          admissions of temporary workers and their families in the fiscal years
          2012 to 2021 and which country they are coming from. GDP per capita
          and population was found the IMF World Bank.
        </p>
        <h4>Our Question:</h4>
        <p class="larger-text">
          Looking at the bar chart and line graph in visualizations 1 and 2 we
          were curious to see what the trends were on a by country basis. We
          asked ourselves which countries had the highest admissions and why?
          Was it because they were richer countries? Or was it because these
          countries had a higher population? We also wanted to see how much
          COVID affected this trends.
        </p>
        <div class="col-md-12 text-center">
          <div id="chart">
            <svg width="1300" height="600"></svg>
          </div>
          <div class="slider-container">
            <div class="text-center" style="padding-right: 2rem;">
              <button id="toggleScaleButton" class="btn btn-primary">
                Toggle Scale
              </button>
            </div>
            <input
              type="range"
              id="slider"
              min="2012"
              max="2021"
              value="2012"
              step="1"
            />
            <span id="year">2012</span>
          </div>
        </div>
        <h4>Analysis of Chart:</h4>
        <p class="larger-text">
          Looking at the logarithmic scale of the chart, it may appear that the
          distribution of admissions is relatively even across countries, but
          upon closer inspection, it becomes clear that there are some extreme
          outliers. Specifically, Mexico and Canada have by far the highest
          number of admissions into the US, which may be due to factors such as
          geographic proximity and strong economic ties. As we scroll through
          the years using the slider, we can see that there is a general uptick
          in the number of admissions across all countries. However, this trend
          is interrupted in the year 2021, which coincides with the onset of the
          COVID-19 pandemic. Admissions dropped significantly from that year,
          likely due to travel restrictions and other measures put in place to
          mitigate the spread of the virus. It is worth noting that while the
          logarithmic scale of the chart makes it difficult to visually compare
          the magnitudes of different values, it does highlight the relative
          growth rates of admissions over time. In this case, we can see that
          the growth rate of admissions has been relatively consistent across
          countries, with some exceptions such as China, which saw a large
          increase in admissions around 2015 before leveling off in recent
          years. Overall, the chart provides insights into the patterns of
          nonimmigrant admissions into the US over time and how they may have
          been impacted by external factors such as the COVID-19 pandemic.
        </p>
        <h4>Further Discussion:</h4>
        <p class="larger-text">
          Our bubble chart visualization provides a unique perspective on the
          trends and disparities in nonimmigrant temporary worker admissions to
          the US. By examining the size and position of the bubbles, we can see
          which countries and regions are sending the most workers and how that
          has changed over time. One interesting observation from the chart is
          that Mexico and Canada, which are both geographically close to the US,
          have the highest number of admissions by far. This suggests that
          proximity may play a role in determining which countries are favored
          for nonimmigrant admissions. However, it's important to note that
          there are other factors at play, such as economic ties and political
          relationships. Another key finding from our analysis is that COVID had
          a significant impact on nonimmigrant admissions in 2020 and 2021. As
          we can see from the chart, there was a steep drop in the number of
          admissions during this time period, which is likely due to travel
          restrictions and other pandemic-related factors. Overall, our
          exploration of the nonimmigrant admissions dataset highlights the need
          for further investigation into the factors that influence who is
          admitted to the US for temporary work. By understanding these trends
          and disparities, we can work towards creating a more equitable and
          just immigration system for all.
        </p>
      </div>
      <div class="row">
        <a href="../index.html" class="btn btn-default btn-sm" role="button"
          >Go back to Main Page</a
        >
        <a href="viz4.html" class="btn btn-default btn-sm" role="button"
          >Go to previous visualization</a
        >
        <a href="viz6.html" class="btn btn-default btn-sm" role="button"
          >Go to next visualization</a
        >
      </div>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
