<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visualizing Foreign Immigrant Admissions</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://d3js.org/d3.v5.min.js"></script>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="jumbotron text-center">
    <h1>Visualizing Foreign Immigrant Admissions</h1>
    <p style="text-align: center;">Kostas Mateer and Sathish Karthikeyan</p> 
    <a href="../index.html" class="btn btn-default" role="button">Go back to Main Page</a>
    <a href="viz5.html" class="btn btn-default" role="button">Go to previous visualization</a>
  </div>
  <div class="container">
    <div class="row">
      <a href="../index.html" class="btn btn-default btn-sm" role="button"
        >Go back to Main Page</a
      >
      <a href="viz5.html" class="btn btn-default btn-sm" role="button">Go to previous visualization</a>
    </div>
  </div>
</body>
</html>